<div class="row">
    <div class="col col-lg-12 text-center py-5">
       <h3>{{'apresentation' | translate}}</h3>
    </div>
 </div>
 <section class="experience">
   <app-experience [experience]="'experience_cocus' | translate"></app-experience>
    <app-experience [experience]="'experience_dbc' | translate"></app-experience>
    <app-experience [experience]="'experience_pucrs' | translate"></app-experience>
 </section>
 <app-courses [courses]="'courses' | translate"
              [certificationTitle]="'certification' | translate"
              [qualificationsTitle]="'qualifications_title' | translate"></app-courses>